{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: black;">Маркет Індексів</h1>


<!-- Стилі -->
<link rel="stylesheet" href="{% static 'explore/css/indices.css' %}">

<!-- Додаємо контейнер для прокрутки -->
<div class="table-container">
    <table class="index-table" id="index-table">
        <thead>
            <tr>
                <th>Символ</th>
                <th>Назва</th>
                <th>Обмін</th>
                <th>Тип Quote</th>
                <th>Ринкова капіталізація</th>
                <th>Відкриття</th>
                <th>High</th>
                <th>Low</th>
                <th>Закриття</th>
                <th>Зміна %</th>
                <th>Об'єм</th>
            </tr>
        </thead>
        <tbody id="index-body">
            <!-- Дані буде довантажено динамічно -->
        </tbody>
    </table>
</div>

<!-- Скрипт -->
<script src="{% static 'explore/js/indices.js' %}"></script>

{% endblock %}