{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h2>Вхід до акаунту</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="{{ form.username.id_for_label }}">Email:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">Пароль:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Увійти</button>
    </form>
    <p>Немає акаунту? <a href="{% url 'account:registration' %}">Зареєструватися</a></p>
</div>
{% endblock %}
