{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h2>Реєстрація нового користувача</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Зареєструватися</button>
    </form>
    <p>Вже маєш акаунт? <a href="{% url 'account:login' %}">Увійти</a></p>
</div>
{% endblock %}
