{% load static %}
<link rel="stylesheet" href="{% static 'HRTR/css/footer.css' %}">

<footer class="site-footer-wrapper">
    <div class="site-footer">
        <p>&copy; Моя компанія. Всі права захищені.</p>
        <p>
            <a href="https://t.me/your_telegram_username" target="_blank" rel="noopener noreferrer"> Ми в Telegram</a> |
            <a href="https://facebook.com/your_facebook_page" target="_blank" rel="noopener noreferrer">Ми в Facebook</a> |
            <a href="https://instagram.com/your_instagram_profile" target="_blank" rel="noopener noreferrer">Ми в Instagram</a>
        </p>
    </div>
</footer>